*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f1f1f1;
}
form{
    width: 300px;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 4px;
    color: white;
    box-shadow: 0 0 2px black;
}
label, button{
    font-size: 20px;
}
input{
    width: 100%;
    display: inline-block;
    margin-block: 4px;
    padding: 8px 10px;
    font-size: 18px;
}
button{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btns{
    margin-block: 5px;
    display: flex;
    gap: 5px;
}
button:active{
    outline: 2px solid white;
    outline-offset: 2px;
}